body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(des.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 5rem;
	color: black;
}

.btn {
	font-weight: 700px;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	background-color: #f05f44;
	border-color: #f05f44;
}

.btn-primary:hover {
	background-color: #f01f11;
	border-color: #f01f11;
	border-width: 4px;

}